h3{
    color: red;
    position: relative;
    left: 100px;
    position: relative;
    top: 100px;
    
}
.banner{
    position: relative;
    
}

.banner img{
    max-width: 100%
}

.banner .welcome{
    position: absolute;
    left: 0px;
    top: 30%
}
.Whole{
    background-color: #A3F0FF;
}

#Image1{
    width: 801;
    height: 1001px; 
    object-fit: fill;
    
}
#Header{
    height: 50px;
    width: 100%;
}

/*{border-color: black; 
border-style: double;
} 
/* At the time I belive this was a good reason */ 